.customer-detail-form {
  font-size: 11px;

  .sidebar-content {
    padding: 10px 20px;

    p {
      padding-bottom: 5px;
    }

    label {
      display: block;
      color: #7c98b6;
    }

    input {
      border: none;
      width: 100%;
      border-bottom: 1px dotted #ddd;
      padding-bottom: 5px;
    }

    .action-link {
      float: right;
      display: block;
      margin-bottom: 10px;
    }
  }
}

.manage-columns {
  padding: 20px 0px;
  width: 50%;

  ul {
    padding: 0px;
    margin-left: 20px;

    li {
      padding: 10px 20px;
      border: 1px dotted #ddd;
      margin-bottom: 2px;
      cursor: pointer;

      input {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  button {
    margin-left: 20px;
    margin-bottom: 10px;
  }
}

.customer-detail-content {
  .header {
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;

    li {
      display: inline;
      margin-right: 20px;
      cursor: pointer;
      padding: 10px 0px;

      a {
        color: #383838;

        i {
          margin-right: 3px;
        }
      }
    }

    li.active {
      border-bottom: 2px solid;
    }
  }

  textarea {
    min-height: 120px;
    margin: 10px 20px;
  }
}

.internal-notes-list {
  .item {
    background-color: #f9f9f9;
    margin: 10px 20px;
    border: 1px solid #f9f9f9;
    border-radius: 20px;

    .topbar {
      padding: 10px 20px;
      border-bottom: 1px solid #e0e0e0;

      .name-card {
        float: left;
      }

      .date {
        float: right;
      }
    }

    .text {
      padding: 10px 20px;
    }
  }
}
